*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
build_error.log
build_log.txt
build_log_*.txt

# Kotlin compiler session files
.kotlin/sessions/
